.header {
  background-color: var(--color-primary);
  display: grid;
  font-size: 1.6rem;

  grid-template-columns:
    minmax(var(--dim-min-gutter), 1fr)
    var(--dim-center-content)
    minmax(var(--dim-min-gutter), 1fr);

  .button {
    padding: 0.2rem 0.6rem;
    margin-top: -0.2rem;
  }

  &__content {
    height: 8rem;

    grid-column: 2 / -2;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-family: var(--font-display);
    font-size: 2rem;
    a {
      color: var(--color-secondary-light);
    }
  }

  ul {
    display: flex;
    list-style: none;

    li {
      margin-left: 1.2rem;
    }
  }

  &__nav {
    ul {
      li {
        margin-left: 4rem;
      }
    }
  }
}
